python-3.7.4-embed-amd64/Tools/MultiSizeIcon/*
!python-3.7.4-embed-amd64/Tools/MultiSizeIcon/MultiSizeIcon.zip
python-3.7.4-embed-amd64/Tools/TextureMerger/*
!python-3.7.4-embed-amd64/Tools/TextureMerger/TextureMerger.zip
python-3.7.4-embed-amd64/Tools/AssetStudio/*
!/python-3.7.4-embed-amd64/Tools/AssetStudio/AssetStudio.x64.v0.12.49.zip
python-3.7.4-embed-amd64/Tools/WinMerge/*
!/python-3.7.4-embed-amd64/Tools/WinMerge/winmerge-2.16.2-x64-exe.zip
python-3.7.4-embed-amd64/Tools/sqlitestudio-2.1.5/*
!/python-3.7.4-embed-amd64/Tools/sqlitestudio-2.1.5/sqlitestudio-2.1.5.exe.zip
python-3.7.4-embed-amd64/Tools/ffmpeg/*
!/python-3.7.4-embed-amd64/Tools/ffmpeg/ffmpeg.zip
*.pyc
python-3.7.4-embed-amd64/Tools/APKTool/*
!/python-3.7.4-embed-amd64/Tools/APKTool/APKTool.7z
python-3.7.4-embed-amd64/Tools/HarExport/Export
python-3.7.4-embed-amd64/Tools/Everything/*
!/python-3.7.4-embed-amd64/Tools/Everything/Everything-1.4.1.935.x64.zip
python-3.7.4-embed-amd64/Tools/Shadowsocks/*
!/python-3.7.4-embed-amd64/Tools/Shadowsocks/Shadowsocks.exe
python-3.7.4-embed-amd64/Tools/Win32DiskImager/*
!/python-3.7.4-embed-amd64/Tools/Win32DiskImager/Win32DiskImager.7z

python-3.7.4-embed-amd64/Tools/phpStudy20161103/*
!/python-3.7.4-embed-amd64/Tools/phpStudy20161103/phpStudy.7z

python-3.7.4-embed-amd64/Tools/lua.5.3.5.Debug/*
!/python-3.7.4-embed-amd64/Tools/lua.5.3.5.Debug/lua.exe

python-3.7.4-embed-amd64/Tools/FileZilla_3.42.1_win64/*
!/python-3.7.4-embed-amd64/Tools/FileZilla_3.42.1_win64/FileZilla_3.42.1_win64.7z

python-3.7.4-embed-amd64/Tools/ADBConsole/*
!/python-3.7.4-embed-amd64/Tools/ADBConsole/ADBConsole.7z

python-3.7.4-embed-amd64/Tools/FBX Review/*
!/python-3.7.4-embed-amd64/Tools/FBX Review/FBX Review.7z

python-3.7.4-embed-amd64/cache/*
!/python-3.7.4-embed-amd64/cache/cache

python-3.7.4-embed-amd64/Tools/Imagination/PowerVR_Graphics/PowerVR_Tools/*
!/python-3.7.4-embed-amd64/Tools/Imagination/PowerVR_Graphics/PowerVR_Tools/PVRShaderEditor.7z
!/python-3.7.4-embed-amd64/Tools/Imagination/PowerVR_Graphics/PowerVR_Tools/PVRTexTool.7z

python-3.7.4-embed-amd64/Tools/TextAnalysisTool.NET/*
!/python-3.7.4-embed-amd64/Tools/TextAnalysisTool.NET/TextAnalysisTool.NET.7z